export default {
	//host: 'http://www.myeduline.com', // local
	host: 'https://eduline.sozxw.com', //dev
	//host: 'https://www.xingxiwang.net', //prod
	// #ifdef MP-WEIXIN
	mp: {
		name: 'wx',
		login_provider: 'wexin',
		type: 1,
	}
	// #endif
	// #ifdef MP-TOUTIAO
	mp: {
		name: 'tt',
		login_provider: 'toutiao',
		type: 2
	}
	// #endif
	// #ifdef MP-ALIPAY
	mp: {
		name: 'ali',
		login_provider: 'alipay',
		type: 3
	}
	// #endif
}